@model List<PrototipoHerasme.Models.ViewModels.ReportesViewModel>

@{
    decimal? Total = 0;
}

@{
    ViewData["Title"] = "Admin, Reportes";
}



<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />


<table class="table table-dark" id="TablaReportes">
    <thead>
        <tr>
            <th scope="col">#Factura</th>
            <th scope="col">Nombre Cliente</th>
            <th scope="col">Nombre Cajero</th>
            <th scope="col">Estudio realizado</th>
            <th scope="col">Precio $</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr>
                <th scope="row">@item.IdFactura</th>
                <td>@item.NombreCliente</td>
                <td>@item.NombreUsuario</td>
                <td>@item.NombreServicio</td>
                <td>@item.Precio</td>
            </tr>

           Total += item.Precio;

        }

    </tbody>
</table>

<div class="card-body pt-4 p-3">


    <div class="card-header pb-0 px-3 col-md-12 list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
        <div class="col-md-8">
        </div>

        <div class="col-md-3 border-radius-lg">
            <i class="fa fa-book"></i>TOTAL
            <input type="text" class="form-control" disabled="disabled" name="idFactura" value="@Total" />
        </div>

    </div>


</div>




@section Scripts{

    <script>


        $(document).ready(function () {

            $('#TablaReportes').DataTable();

        });

    </script>

}





